{% extends 'core/base.html' %}

{% block title %}Contact Seller{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-6">
    <h1 class="mb-6 text-3xl font-bold">Contact Seller</h1>

    <form method="post" action="." class="bg-white shadow-lg rounded-lg p-6">
        {% csrf_token %}

        <div class="space-y-4">
            <label class="font-semibold text-lg" for="id_content">Message</label>
            <textarea id="id_content" name="content" class="w-full border rounded-lg p-3"
                rows="5">Is this item still available?</textarea>
        </div>

        {% if form.errors or form.non_field_errors %}
        <div class="mb-3 p-4 bg-red-100 rounded-xl text-red-600">
            {% for field in form %}
                {{ field.errors }}
            {% endfor %}
            {{ form.non_field_errors }}
        </div>
        {% endif %}

        <button class="py-2 px-4 bg-indigo-500 hover:bg-indigo-600 bg-opacity-80 rounded-lg text-white">Send</button>
    </form>
</div>
{% block footer %}{% endblock %}
{% endblock %}
