{% extends 'core/base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="grid grid-cols-4 h-screen">
    <div class="col-span-3 flex justify-center items-center h-full relative">
        <div id="imageSlideshow" class="overflow-hidden relative w-full h-full flex justify-center items-center">
            <div class="absolute inset-0 bg-gray-100 blur-sm"></div>
            {% for image in product.images.all %}
            <img src="{{ image.image.url }}" class="absolute max-w-full h-auto transition-opacity duration-500"
                style="opacity: 0;">
            {% endfor %}
        </div>
        <button id="prevBtn"
            class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-white bg-opacity-30 p-2 shadow-lg hover:bg-opacity-100 transition">❮</button>
        <button id="nextBtn"
            class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-white bg-opacity-30 p-2 shadow-lg hover:bg-opacity-100 transition">❯</button>
    </div>
    <div class="col-span-1 p-4 bg-gray-200">
        <div class="mb-2">
            <h2 class="font-bold text-3xl">{{ product.name }}</h2>
            <h3 class="font-semibold text-lg text-black-500">
                {% if product.price == 0 %}
                Free
                {% else %}
                ${{ product.price }}
                {% endif %}
            </h3>
        </div>

        {% if request.user == product.created_by %}
        <div class="mt-6 p-6 bg-gray-300 rounded-xl shadow-md flex flex-col items-start">
            <p class="text-lg font-semibold">Your Listing</p>
            <div class="mt-4 flex space-x-4">
                <a href="{% url 'product:edit' product.id %}"
                    class="px-4 py-2 text-lg font-semibold bg-indigo-400 text-white rounded-lg transition duration-200 hover:bg-indigo-500">Edit</a>
                <a href="{% url 'product:delete' product.id %}"
                    class="px-4 py-2 text-lg font-semibold bg-red-400 text-white rounded-lg transition duration-200 hover:bg-red-500">Delete</a>
            </div>
        </div>
        {% else %}
        <div class="mt-6">
            <div class="flex justify-center space-x-4">
                <a href="{% url 'dialogue:new' product.id %}"
                   class="px-8 py-3 font-semibold bg-gray-300 text-black rounded-xl hover:bg-gray-400 transition duration-200">
                    Chat <i class="fa-solid fa-message"></i>
                </a>
                <a href="#"
                   class="px-4 py-3 font-semibold bg-gray-300 text-black rounded-xl hover:bg-gray-400 transition duration-200">
                    <i class="fa-regular fa-heart"></i>
                </a>
                <button onclick="copyToClipboard('{{ request.build_absolute_uri }}')"
                    class="px-4 py-3 font-semibold bg-gray-300 text-black rounded-xl hover:bg-gray-400 transition duration-200">
                     <i class="fa-solid fa-share"></i>
                </button>
            </div>
            <a href="{% url 'product:delivery' product.id %}" 
               class="mt-4 flex items-center justify-center px-12 py-3 font-semibold bg-indigo-400 text-white rounded-xl transition duration-200 hover:bg-indigo-500">
                Deliver
            </a>
        </div>
        
        {% endif %}

        {% if product.description %}
        <h3 class="mt-6 font-semibold text-xl">Details</h3>
        {% if product.condition %}
        <h4 class="mt-1 font-semibold">Condition: <span class="text-gray-600">{{ product.get_condition_display }}</span>
        </h4>
        {% endif %}
        <p class="text-gray-600">{{ product.description }}</p>
        {% endif %}

        {% if product.location %}
        <div class="mt-6">
            <div id="map" class="h-64 w-full"></div>
            <h4 class="font-semibold">{{ product.location }}</h4>
            <p class="text-gray-600">Location is approximate</p>
            {% endif %}

            <div class="mt-6 flex items-center">
                <a href="{% url 'userprofile:index' %}" class="flex items-center">
                    {% if product.created_by.userprofile.profile_picture %}
                    <img src="{{ product.created_by.userprofile.profile_picture.url }}"
                        alt="{{ product.created_by.username }}'s Profile Picture"
                        class="w-10 h-10 rounded-full object-cover border border-gray-300" />
                    {% else %}
                    <i class="fa-sharp fa-solid text-2xl fa-user" style="color: #454ADE"></i>
                    {% endif %}
                    <span class="ml-2 font-semibold">{{ product.created_by.username }}</span>
                </a>
            </div>
        </div>
    </div>
    <style>
        #imageSlideshow {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #imageSlideshow img {
            max-width: none;
            max-height: 100%;
            height: auto;
            object-fit: contain;
            opacity: 0;
        }

        #imageSlideshow img:first-child {
            opacity: 1;
        }
    </style>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const images = document.querySelectorAll('#imageSlideshow img');
            let currentImage = 0;

            function showImage(index) {
                images.forEach((img, idx) => {
                    img.style.opacity = idx === index ? '1' : '0';
                });
            }

            showImage(currentImage);

            document.getElementById('nextBtn').addEventListener('click', function () {
                currentImage = (currentImage + 1) % images.length;
                showImage(currentImage);
            });

            document.getElementById('prevBtn').addEventListener('click', function () {
                currentImage = (currentImage - 1 + images.length) % images.length;
                showImage(currentImage);
            });
        });
        function initMap() {
            const location = { lat: 40.7128, lng: -74.0060 };
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 14,
                center: location,
            });

            const marker = new google.maps.Marker({
                position: location,
                map: map,
            });
        }

        function copyToClipboard(url) {
            navigator.clipboard.writeText(url).then(function() {
            alert('URL copied to clipboard!');
            }, function(err) {
            console.error('Could not copy text: ', err);
    });
}

    </script>


    <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&callback=initMap" async
        defer></script>

    {% block footer %}{% endblock %}
    {% endblock %}