{% extends 'core/base.html' %}
{% load static %}

{% block title %}Browse{% endblock %}

{% block content %}
<div class="grid grid-cols-4 gap-4 bg-gray-100">
    <div class="col-span-1 pl-0">
        <div class="bg-white px-4 py-3">
            <form method="get" action="{% url 'product:products' %}">
                <input name="query" class="w-full py-2 px-4 border bg-gray-100 rounded-xl" type="text" value="{{ query }}" placeholder="Search Bazaar">
            </form>
        </div>

        <div class="bg-white px-4 shadow-lg overflow-y-auto">
            <div class="mt-2">
                <div class="flex flex-col space-y-2">
                    <a href="{% url 'product:products' %}" class="flex items-center p-3 bg-blue-100 text-gray-600 rounded-xl hover:bg-blue-200 transition">
                        <i class="fa-solid fa-th-list text-xl" style="color:#454ADE;"></i>
                        <span class="ml-2 font-semibold">Browse All</span>
                    </a>
                    <a href="{% url 'dialogue:inbox' %}" class="flex items-center p-3 bg-white text-gray-600 rounded-xl hover:bg-gray-100 transition">
                        <i class="fa-solid fa-inbox text-xl" style="color:#454ADE;"></i>
                        <span class="ml-2 font-semibold">Inbox</span>
                    </a>
                    <a href="#" class="flex items-center p-3 bg-white rounded-xl text-gray-600 hover:bg-gray-100 transition">
                        <i class="fa-solid fa-heart text-xl" style="color:#454ADE;"></i>
                        <span class="ml-2 font-semibold">Favorites</span>
                    </a>
                    <a href="{% url 'userprofile:index' %}" class="flex items-center p-3 bg-white text-gray-600 rounded-xl hover:bg-gray-100 transition">
                        <i class="fa-solid fa-user text-xl" style="color:#454ADE;"></i>
                        <span class="ml-2 font-semibold">Selling</span>
                    </a>
                </div>
            </div>
            <div class="mt-2 text-center">
                <a href="{% url 'product:new' %}" class="inline-block px-4 py-2 bg-indigo-500 bg-opacity-30 text-indigo-500 font-semibold rounded-xl shadow-md hover:bg-opacity-50 transition">
                    + Add New Listing
                </a>
            </div>
            <hr class="my-6">
            <div class="flex justify-between items-center">
                <p class="font-bold">Categories</p>
                <a href="{% url 'product:products' %}"><i class="fa-solid fa-circle-left text-xl" style="color:#454ADE"></i></a>
            </div>
            <ul>
                {% for category in categories %}
                <li class="py-1 px-1 font-semibold text-gray-600 rounded-xl hover:bg-gray-200{% if category.id == category_id %} bg-blue-100 {% endif %}">
                    <a href="{% url 'product:products' %}?query={{ query }}&category={{ category.id }}">
                        <i class="{{ category.icon_class }} m-4" style="color:#454ADE"></i> {{ category.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            <hr class="my-6">
        </div>
    </div>

    <div class="col-span-3">
        <h2 class="text-xl font-semibold m-6">Browse Listings</h2>
        <div class="grid grid-cols-4 gap-2 todays-picks">
            {% for product in products %}
            <div class="product-card border border-gray-300 rounded-lg p-2">
                <a href="{% url 'product:detail' product.id %}">
                    <div class="image-container">
                        <img src="{{ product.images.first.image.url }}" class="border product-image rounded-lg" alt="{{ product.name }}">
                    </div>
                    <div class="p-2 bg-transparent">
                        <h3 class="text-lg font-semibold text-gray-800">
                            {% if product.price == 0 %}
                            Free
                            {% else %}
                            ${{ product.price }}
                            {% endif %}  
                        </h3>
                        <p>{{ product.name }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% block footer %}{% endblock %}
{% endblock %}
